TZ=Asia/Kolkata

PUID=1000
PGID=1000

CONFIG_PATH=/jellyfin/configs
CACHE_PATH=/jellyfin/cache
MEDIA_PATH=/external/Media
DOWNLOAD_PATH=/external/Downloads

# Gluetun
VPN_SERVICE_PROVIDER=your-provider
VPN_TYPE=wireguard

WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=

SERVER_COUNTRIES=India