TZ=Asia/Kolkata

PUID=1000
PGID=1000

CONFIG_PATH=/configs
CACHE_PATH=/cache
MEDIA_PATH=/external/Media
DOWNLOAD_PATH=/external/Downloads
#DNS Settings
DOMAIN=yourdomain.com

EMAIL=your@email.com

GODADDY_API_KEY=xxxxxxxxxxxxxxxxxxxx
GODADDY_API_SECRET=xxxxxxxxxxxxxxxxxxxx

# Gluetun
VPN_SERVICE_PROVIDER=your-provider
VPN_TYPE=wireguard

WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=

SERVER_COUNTRIES=India